$text-width: 200px;
$text-height: 40px;

#recipe_title{
  height: $text-height;
  width: $text-width;
}

#recipe_title{
  height: $text-height;
  width: $text-width;
}

#recipe_ingredients{
  height: $text-height;
  width: $text-width;
}

#recipe_instructions{
  height: $text-height;
  width: $text-width;
}

#recipe_calories{
  height: $text-height;
  width: $text-width;
}
